
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


body{
    font-family: 'arial', serif;
    margin:0;
    padding:0;
}

/*  Navbar  */

.topnav {
    background-color: #df96fa;
    overflow: hidden;
    text-align: center;
  }
  
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
.topnav a:hover {
    background-color: #651085;
    color: white;
  }
  
  
.topnav a.active {
    background-color: #651085;
    color: white;
  }

.logo {
    color: #651085;
    float: right;
    text-align: center;
    font-size: 30px;
    padding: 15px 70px;
    text-shadow: 4px 4px 4px white;
}

/*  Navbar End */

/*  Banner  */

.banner{
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
}

.banner > .banner-image{
    width: 100%;
    display: block;
}

.banner > .nome{
    position: absolute;
    bottom: 50%;
    left: 7%;
    color: #651085;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 350%;
}

.banner > .nome2{
    position: absolute;
    bottom: 50.25%;
    left: 6.5%;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 350%;
}

.banner > .descri{
    position: absolute;
    bottom: 35%;
    left: 20%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #651085;
    font-size: 150%;;
    text-shadow: 3px 3px 3px white;
} 

.banner > .btn{
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #df96fa;
  color: white;
  font-size: 170%;
  padding: 1 4;
  border: none;
  cursor: pointer;
  border-radius: 5;
}

.banner .btn:hover {
    background-color: #651085;
  }

/*  Banner  End  */

/*  Serviços  */

.service1 {
    width: 280px;
    border: 2px solid #651085;
    margin: 20px 10px;
    padding: 0px 5px;
    float: left;
}

.service2 {
    width: 280px;
    border: 2px solid #651085;
    margin: 20px 10px;
    padding: 0px 5px;
    float: left;
}

.service3 {
    width: 280px;
    border: 2px solid #651085;
    margin: 20px 10px;
    padding: 0px 5px;
    float: left;
}


.service1 > p {
    font-size: 14px;
    color: #df96fa;
    max-width: 250px;
}

.service2 > p {
    font-size: 14px;
    color: #df96fa;
    max-width: 250px;
}

.service3 > p {
    font-size: 14px;
    color: #df96fa;
    max-width: 250px;
}

.services {
    width: 1000px;
    margin: 0 auto;
}

.service1 > h1 {
    font-size: 16px;
    font-weight: bold;
    background-color: #651085;
    color: #df96fa;
    padding: 10px 0;
    margin: 0 -6px;
}

.service2 > h1 {
    font-size: 16px;
    font-weight: bold;
    background-color: #651085;
    color: #df96fa;
    padding: 10px 0;
    margin: 0 -6px;
}

.service3 > h1 {
    font-size: 16px;
    font-weight: bold;
    background-color: #651085;
    color: #df96fa;
    padding: 10px 0;
    margin: 0 -6px;
}

.image {
    max-width: 200px;
    margin:15px 0 0 0;
}

.heading {
    text-align: center;
    font-size: 45px;
    color: #651085;
    margin: 100px 0 50px 0;
}

/*  Serviços End  */

/*  Timeline  */

.timeline {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    padding-top: 50px
  }
  
.timeline > h1 {
    color: #651085;
}  

.timeline >  p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0px;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: black;
    
    

    }
  
  
.timeline > p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
    
  }
  
.timeline > p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
    
    
    }
  
 
.timeline > p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  
.timeline > p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }

.portifolio {
    max-width: 1000px;
    margin: auto;
    padding-top: 500px;
    text-align: center;
    font-style: italic bold;
    color: #651085;
  }
 
/*  Timeline End  */

/*  Portifolio  */

.portifolio >  h1 {
    font-size: 50px;
    word-break: break-all;
  }

.portifolio > h2{
    font-size: 50px;
}
  
.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
.content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
.column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
      width: 100%;
    }
  }  

/*  Portifolio End  */

/*contato*/

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #651085;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #651085;
  }
  
  /* Style the container/contact section */
.contato {
    border-radius: 5px;
    background-color: #df96fa;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
.contato > .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
.contato > .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
.contato > .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/*contato end*/

/*Nosso time*/
.container{
    margin: auto;
    padding: 100px 0px;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nossotime > h1 {
    text-align: center;
    color: #651085;
    font-size: 45px;
    
}

.our-team{
    background: #df96fa ;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0px 20px;
    padding: 30px  0px 40px;
    width: 30%;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}

.our-team .pic::before{
    content: "";
    width: 100%;
    height:0;
    border-radius: 50%;
    background: #651085;
    position: absolute;
    bottom:135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .pic::before{
    height: 100%;
}

.our-team .pic:after{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #651085;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
} 

.our-team:hover .pic img{
    box-shadow: 0 0  0 14px #651085;
    transform: scale(0.7);

}



/*Nosso time end*/